<template>
    <div class="board">
        <domino v-for="(domino,key) in dominos" :class="{reverted: reverted(key), arrowDown: arrowDown(key)}" :key="key" :value="domino"></domino>
    </div>
</template>

<script>
    import Domino from './DominoWithDots.vue';

    const DOMINO_LENGTH_EM = 5.0125;
    const DOMINO_PER_ROW = 8;

    export default {
        props: {
            dominos: {
                type: Array,
                required: true
            }
        },
        methods: {
            reverted(dominoIndex) {
                return 1 === Math.floor(dominoIndex / DOMINO_PER_ROW) % 2;
            },
            arrowDown(dominoIndex) {
                return dominoIndex !== 0 && dominoIndex % DOMINO_PER_ROW === 0;
            }
        },
//        FOR DEBUG PURPOSE ONLY
//        data() {
//            return {
//                dominos: [[1,3], [2,4], [4,5], [6,0], [1,3], [2,4], [4,5], [6,0], [1,3], [2,4], [4,5], [6,0]]
//            }
//        },
        components: {
            Domino
        }
    }
</script>

<style scoped>


    .board {
        min-height: 600px;
        width: 40rem;
        border: 1px solid red;
        box-sizing: content-box;
    }

    .board .domino {
        width: calc(40rem / 8);
        text-align: center;
    }

    .reverted {
        margin-top: 1em;
        margin-bottom: 1em;
        float:right;
        transform: scaleX(-1);
    }

    .arrowDown {
        position: relative;
    }

    .arrowDown:before {
        content: '⮟';
        width: auto;
        position: absolute;
        top: -1.4em;
        color: green;
    }
</style>