<template>
    <div>
        <p>Hi, {{counter}}</p>
        <button @click="increment">Increment</button>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                counter: 0
            }
        },
        methods: {
            increment() {
                this.counter++;
            }
        }
    }
</script>