<template>
    <span class="domino"><img :src="firstNumber" alt="" class="firstPart"><img :src="secondNumber" alt="" class="lastPart"></span>
</template>

<script>
    export default {
        props: {
            value: {
                type: Array,
                required: true,
                validator: value => {
                    return true === Array.isArray(value) &&
                        2 === value.length &&
                        true === Number.isInteger(value[0]) &&
                        true === Number.isInteger(value[1])
                    ;

                }
            },
            isVertical: {
                type: Boolean,
                required: true
            },
        },
        computed: {
            firstNumber() {
                return this.filterNumber(this.value[0]);
            },
            secondNumber() {
                return this.filterNumber(this.value[1]);
            }
        },
        methods: {
            filterNumber(number) {
                return 'dist/img/face'+number+'.png';
            }
        }
    }
</script>

<style scoped>
    span {
        color: #16507a;
        font-weight: bold;
        font-size: 16pt;
        border: 2px solid black;
        padding: 5px;
        display: inline-block;
    }

    .firstPart, .lastPart {
        width: 1.5em;
    }

    .firstPart {
        border-right: 2px solid black;
        box-sizing: content-box;
    }

</style>