<template>
    <span class="domino">{{firstNumber}} | {{secondNumber}}</span>
</template>

<script>
    export default {
        props: {
            value: {
                type: Array,
                required: true,
                validator: value => {
                    return true === Array.isArray(value) &&
                        2 === value.length &&
                        true === Number.isInteger(value[0]) &&
                        true === Number.isInteger(value[1])
                    ;

                }
            },
            isVertical: {
                type: Boolean,
                required: true
            },
        },
        computed: {
            firstNumber() {
                return this.filterNumber(this.value[0]);
            },
            secondNumber() {
                return this.filterNumber(this.value[1]);
            }
        },
        methods: {
            filterNumber(number) {
                switch(number) {
                    case 0:
                        return '\xa0\xa0';
                        break;
                    default:
                        return number;
                }
            }
        }
    }
</script>

<style scoped>
    span {
        color: #16507a;
        font-weight: bold;
        font-size: 16pt;
        border: 2px solid black;
        padding: 5px;
        display: inline-block;
    }


</style>