<template>
    <div class="row">
        <div class="col-2 border border-primary">
            <h2>P1</h2>
            <div class="playerHand">
                <div v-for="domino in playerHands[0]">
                    <domino :value="domino" :is-vertical="false"></domino>
                </div>
            </div>
        </div>
        <div class="col-8 border">
            <h2>Game board</h2>
            <board :dominos="board"></board>
            <div style="position:fixed; bottom:0;right:0;z-index: 200">
                <button class="btn btn-primary" :class="{disabled: gameLaunched}" :disabled="gameLaunched" @click="init">Démarrer</button>
                <button class="btn btn-success" :class="{disabled: !gameLaunched}" :disabled="!gameLaunched || nextTurnAsked" @click="next">Coup suivant</button>
                <button class="btn btn-danger" :class="{disabled: !gameLaunched}" :disabled="!gameLaunched" @click="init">Remise à zéro</button>
            </div>
            <hr>
            <h3>Configuration</h3>
            <div class="row">
                <div class="col">
                    IA 1
                    <select v-model="ia1Selected">
                        <option v-for="element in iaOptions" :value="element">{{element}}</option>
                    </select>
                </div>
                <div class="col">
                    IA 2
                    <select v-model="ia2Selected">
                        <option v-for="element in iaOptions" :value="element">{{element}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Server Base URL : <input type="text" v-model="serverUrl">
                </div>
            </div>
            <hr>
            <h3>Backlog</h3>
            <div>
                <p v-html="backLog"></p>
            </div>
        </div>
        <div class="col-2 border border-secondary">
            <h2>P2</h2>
            <div class="playerHand">
                <div v-for="domino in playerHands[1]">
                    <domino :value="domino" :is-vertical="false"></domino>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const AVAILABLE_IA = [
        'ia_random',
        'ia_finish_hand',
        'ia_block',
        'ia_win_by_points',
        'ia_stop'
    ];

    let iaSelected = AVAILABLE_IA[0];

    import Board from './Board.vue';
    import Domino from './DominoWithDots.vue';

    import axios from 'axios';

    export default {
        data() {
            return {
                gameLaunched: false,
                nextTurnAsked: false,
                board: [],
                playerHands: [
                    [],
                    []
                ],
                ia1Selected: iaSelected,
                ia2Selected: iaSelected,
                iaOptions: AVAILABLE_IA,
                backLog: '',
                serverUrl: 'http://localhost:5001',
            }
        },
        methods: {
            init() {
                this.gameLaunched = false;
                axios
                    .get(
                        this.serverUrl+`/init?ia1=${this.ia1Selected}&ia2=${this.ia2Selected}`,
                        {
                            responseType: 'text'
                        }
                    )
                    .then((response) => {
                        this.appendToBackLog(response.data);
                        this.gameLaunched = true;
                        this.refreshGameState();
                    })
                    .catch(function(err) {
                        toastr.error(err);
                    })
                ;
            },
            refreshGameState() {
                this.loadPlayerHand(1);
                this.loadPlayerHand(2);
                this.loadBoard();
                this.checkIfFinished();
            },
            next() {
                this.nextTurnAsked = true;
                axios.get(this.serverUrl+`/next`)
                    .then((response) => {
                        this.appendToBackLog(response.data);
                        this.refreshGameState();
                    })
                    .catch(err => {
                        toastr.error(err);
                    })
                    .then(() => {
                        this.nextTurnAsked = false;
                    })
                ;
            },
            loadPlayerHand(playerNb) {
                axios.get(this.serverUrl+`/get_playerhand?player=${playerNb}`)
                    .then(response => {
                        this.playerHands.splice(playerNb - 1, 1, response.data);
                        //toastr.success(`Player Hand ${playerNb} Updated`);
                    })
                    .catch(err => {
                        toastr.error(err);
                    })
            },
            loadBoard() {
                axios.get(this.serverUrl+`/get_board`)
                    .then(response => {
                        this.board = response.data;
                        //toastr.success('Board updated');
                    })
                    .catch(err => {
                        toastr.error(err);
                    })
            },
            appendToBackLog(log) {
                log = log.replace(/\n/g, '</br>');
                this.backLog += log;
                this.backLog += "<br><hr class='backlog'><br>";
            },
            checkIfFinished() {
                axios.get(this.serverUrl+`/finished`, {responseType: 'text'})
                    .then(response => {
                        if ('-' !== response.data.charAt(0)) {
                            this.gameLaunched = false;
                            let message = `Game finished ! Winner is : ${response.data}`;
                            this.appendToBackLog(message);
                            toastr.success(message);
                        }
                    })
                    .catch(err => {
                        toastr.error(err);
                    })
            }
        },
        components: {
            Board,
            Domino
        }
    }
</script>
<style>
    hr.backlog {
        border-color: black;
        margin: 0;
    }

    .playerHand .domino {
        margin-bottom: 10px;
    }
</style>